.container
  .card_detail
    .card_detail_head
      %h2= @task.title
      - if user_signed_in? && current_user.has_created?(@task)
        .card_actions
          .dropdown
            = image_tag 'actions.svg'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_task_path(@board, @task)
              = link_to 'Delete', board_task_path(@board, @task), data: {method: 'delete', confirm: '本当に削除してもよろしいですか?'}

    .card_detail_body
      - if @task.eyecatch.attached?
        .card_image
          = image_tag @task.eyecatch
      .card_detail_content
        %p= @task.content
      - if @task.deadline.present?
        .card_detail_deadline
          %p Deadline :
          %time{datetime: @task.deadline.iso8601}
            = @task.deadline.strftime("%Y/%m/%d")

  .comment
    %h3 Comment
    - @comments.each do |comment|
      .comment_wrap
        .comment_icon
          = image_tag comment.user.avatar_image
        .comment_content
          %p=comment.content
    - if user_signed_in?
      = link_to new_board_task_comment_path(@task.board, @task) do
        .comment_new
          %p + Add new comment