.container
  %h2= @board.title
  - @tasks.each do |task|
    .card
      = link_to board_task_path(board_id: @board, id: task) do
        .card_body
          .card_title
            %p= task.title
          .card_content
            %p= task.content
          .card_icon
            = image_tag 'default-avatar.png'
        .card_actions
          .dropdown
            = image_tag 'actions.svg'
            .dropdown-content.mini
              %a{:href => ""} Edit
              %a{:href => ""} Delete
  = link_to new_board_task_path(@board) do
    .card_new
      %p + Add new card