.container
  %h2= @board.title
  - @tasks.each do |task|
    .card
      = link_to board_task_path(@board, task) do
        - if task.eyecatch.attached?
          .card_image
            = image_tag task.eyecatch
        .card_body
          .card_title
            %p= task.title
          .card_content
            %p= task.content
          .card_icon
            = image_tag task.user.avatar_image
          .card_comment-count
            %span= task.comment_count
            = image_tag 'message.svg'
        - if user_signed_in? && current_user.has_created?(task)
          .card_actions
            .dropdown
              = image_tag 'actions.svg'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_task_path(@board, task)
                = link_to 'Delete', board_task_path(@board, task), data: {method: 'delete', confirm: '本当に削除してもよろしいですか?'}
  - if user_signed_in?
    = link_to new_board_task_path(@board) do
      .card_new
        %p + Add new card